.icon-fuente {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon-fuente-huella {
  width: 45px;
  height: 42px;
  cursor: pointer;
  margin-top: 12px;
  background-size: 100% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./../images/fuentes/huella.png);
}

.icon-up-fuente {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: 100% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./../images/icon/up-btn-fuente.png);
}

.icon-fuente-1 {
  background-image: url(./../images/fuentes/enerfia_electrica.png);
}

.icon-fuente-2 {
  background-image: url(./../images/fuentes/combustible.png);
}

.icon-fuente-3 {
  background-image: url(./../images/fuentes/aguas_servidas.png);
}

.icon-fuente-4 {
  background-image: url(./../images/fuentes/residuos.png);
}

.icon-fuente-5 {
  background-image: url(./../images/fuentes/papel.png);
}

.icon-fuente-6 {
  background-image: url(./../images/fuentes/gases.png);
}

.icon-fuente-7 {
  background-image: url(./../images/fuentes/ganaderia.png);
}

.icon-fuente-8 {
  background-image: url(./../images/fuentes/agricultura.png);
}

.icon-fuente-9 {
  background-image: url(./../images/fuentes/Industrial.png);
}

.icon-fuente-10 {
  background-image: url(./../images/fuentes/viajes.png);
}

.icon-fuente-11 {
  background-image: url(./../images/fuentes/pintura.png);
}

.icon-fuente-12 {
  background-image: url(./../images/fuentes/hidrica.png);
}

.icon-fuente-13 {
  background-image: url(./../images/fuentes/explosivos.png);
}

.icon-fuente-14 {
  background-image: url(./../images/fuentes/BIOMASA.png);
}

.icon-reduccion {
  width: 34px;
  height: 34px;
  background-size: 100% 100%;
  display: inline-block;
  margin-top: -3px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(./../images/fuentes/reduccion.png);
}

.icon-dash {
  width: 70px;
  height: 40px;
  margin-left: 5px;
  background-size: 100% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-dash-fuente-off-1 {
  background-image: url(./../images/fuentes/dash/energia_of.png);
}

.icon-dash-fuente-on-1 {
  background-image: url(./../images/fuentes/dash/energia_on.png);
}

.icon-dash-fuente-on-2 {
  background-image: url(./../images/fuentes/dash/combustible_on.png);
}

.icon-dash-fuente-off-2 {
  background-image: url(./../images/fuentes/dash/combustible_of.png);
}

.icon-dash-fuente-on-3 {
  background-image: url(./../images/fuentes/dash/aguas_servidas_on.png);
}

.icon-dash-fuente-off-3 {
  background-image: url(./../images/fuentes/dash/aguas_servidas_of.png);
}

.icon-dash-fuente-on-4 {
  background-image: url(./../images/fuentes/dash/residuos_on.png);
}

.icon-dash-fuente-off-4 {
  background-image: url(./../images/fuentes/dash/residuos_of.png);
}

.icon-dash-fuente-on-5 {
  background-image: url(./../images/fuentes/dash/papelcarton_on.png);
}

.icon-dash-fuente-off-5 {
  background-image: url(./../images/fuentes/dash/papelcarton_of.png);
}

.icon-dash-fuente-on-6 {
  background-image: url(./../images/fuentes/dash/gases_on.png);
}

.icon-dash-fuente-off-6 {
  background-image: url(./../images/fuentes/dash/gases_of.png);
}

.icon-dash-fuente-on-7 {
  background-image: url(./../images/fuentes/dash/ganaderia_on.png);
}

.icon-dash-fuente-off-7 {
  background-image: url(./../images/fuentes/dash/ganaderia_of.png);
}

.icon-dash-fuente-off-8 {
  background-image: url(./../images/fuentes/dash/agricultura_of.png);
}

.icon-dash-fuente-on-8 {
  background-image: url(./../images/fuentes/dash/agricultura_on.png);
}

.icon-dash-fuente-on-9 {
  background-image: url(./../images/fuentes/dash/pinturas_on.png);
}

.icon-dash-fuente-off-9 {
  background-image: url(./../images/fuentes/dash/pinturas_solventes_of.png);
}

.icon-dash-fuente-on-10 {
  background-image: url(./../images/fuentes/dash/viajes_aereos_on.png);
}

.icon-dash-fuente-off-10 {
  background-image: url(./../images/fuentes/dash/viajes_of.png);
}

.icon-dash-fuente-on-11 {
  background-image: url(./../images/fuentes/dash/pinturas_on.png);
}

.icon-dash-fuente-off-11 {
  background-image: url(./../images/fuentes/dash/pinturas_solventes_of.png);
}

.icon-dash-fuente-on-12 {
  background-image: url(./../images/fuentes/dash/huellahidrica_on.png);
}

.icon-dash-fuente-off-12 {
  background-image: url(./../images/fuentes/dash/huellahidrica_of.png);
}

.icon-dash-fuente-on-13 {
  background-image: url(./../images/fuentes/dash/explosivos_on.png);
}

.icon-dash-fuente-off-13 {
  background-image: url(./../images/fuentes/dash/explosivos_of.png);
}

.icon-dash-fuente-on-14 {
  background-image: url(./../images/fuentes/dash/BIOMASA_on.png);
}

.icon-dash-fuente-off-14 {
  background-image: url(./../images/fuentes/dash/BIOMASA_of.png);
}

@media screen and (max-width: 992px) {
  .icon-fuente {
    width: 20px;
    height: 20px;
  }

  .icon-fuente-huella {
    width: 40px;
    height: 38px;
  }

  .icon-up-fuente {
    width: 30px;
    height: 30px;
  }

  .icon-reduccion {
    width: 34px;
    height: 34px;
  }

  .icon-dash {
    width: 60px;
    height: 34px;
  }
}


@media screen and (max-width: 600px) {
  .icon-dash {
    width: 50px;
    height: 28px;
  }
}
