
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$green-primary: mat-palette($mat-indigo);
$green-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$green-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($green-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$green-primary: mat-palette($mat-indigo);
$green-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$green-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($green-theme);

@import 'variable';
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import 'app';
@import 'pages';
@import 'sidebar';
@import '../scss/icons/font-awesome/css/font-awesome.min.css';
@import '../scss/icons/simple-line-icons/css/simple-line-icons.css';
@import '../scss/icons/themify-icons/themify-icons.css';
@import "../scss/icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import 'widgets';
@import 'grid';
@import 'responsive';
@import 'animate.css';
@import 'theme-settings.scss';
@import 'colors/green';
@import 'green.scss';
@import 'fuentes.scss';
@import 'huella.scss';
@import 'dashboard.scss';
